.App {
  font-family: sans-serif;
  text-align: center;
}
.videoThumb {
  float: left;
  margin: 0 5px;
  padding: 5px;
}
.videoThumb img {
  height: 56px;
}
.videoThumb figcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}
.activeThumb {
  background-color: lightblue;
  border: 2px solid aqua;
}
