.App {
  font-family: sans-serif;
  text-align: center;
}
#activeVideo {
  padding-bottom: 20px;
}
.videoThumb {
  float: left;
  padding: 5px;
  width: 20%;
}
.videoThumb img {
  width: 100%;
}
.videoThumb figcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  font-size: small;
}
.activeThumb {
  background-color: lightblue;
  border: 2px solid aqua;
}
